<nz-layout>
      <nz-content>
            <nz-flex nzVertical="true" nzGap="small">
                  <nz-flex nzJustify="start" nzAlign="center" nzGap="large">
                        <nz-breadcrumb>
                              <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                              <nz-breadcrumb-item>App</nz-breadcrumb-item>
                        </nz-breadcrumb>
                        <nz-space style="flex-grow: 1;"></nz-space>
                        <h3 nz-typography><b>Yadro Test App</b></h3>
                  </nz-flex>
                  <router-outlet></router-outlet>
            </nz-flex>
      </nz-content>
</nz-layout>