<nz-flex nzVertical="true" nzGap="small">
    <nz-flex nzJustify="end" nzAlign="center" nzGap="large">
        <a nz-button nzType="primary" [routerLink]="['/users/create']">create</a>
        <nz-input-group [nzSuffix]="suffixIconSearch" style="width:200px">
            <input type="text" nz-input placeholder="search user" [value]="searchQuery"
                (input)="onSearchInputChange($event)" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <nz-icon nzType="search" />
        </ng-template>
        <button nz-button nz-dropdown [nzDropdownMenu]="menu" style="min-width: 90px;">
            {{ selectedDropdownItem }}
            <nz-icon nzType="down" />
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item (click)="onMenuItemClick('name')">name</li>
                <li nz-menu-item (click)="onMenuItemClick('email')">email</li>
            </ul>
        </nz-dropdown-menu>
    </nz-flex>

    <nz-list nzBordered>
        @for (user of paginatedUsers; track user.id) {
        <nz-list-item>
            <ng-container>
                <nz-list-item-meta>
                    <nz-list-item-meta-title>
                        <a [routerLink]="['/users', user.id]">{{ user.name }}</a>
                    </nz-list-item-meta-title>
                    <nz-list-item-meta-description>
                        {{ user.email }}
                    </nz-list-item-meta-description>
                </nz-list-item-meta>

                <ul nz-list-item-actions>
                    <nz-list-item-action><a [routerLink]="['/users', user.id, 'edit']">edit</a></nz-list-item-action>
                    <nz-list-item-action>
                        <button nz-button nzType="link" nzDanger
                            (click)="showDeleteConfirm(user.id, user.name)">delete</button>
                    </nz-list-item-action>
                </ul>
            </ng-container>
        </nz-list-item>
        }
    </nz-list>

    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="filteredUsers.length" [nzPageSize]="pageSize"
        (nzPageIndexChange)="onPageIndexChange($event)">
    </nz-pagination>
</nz-flex>